<a href="https://colab.research.google.com/github/hoangnam-nguyen/book-recommendation-knn/blob/main/fcc_book_recommendation_knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this challenge, you will create a book recommendation algorithm using **K-Nearest Neighbors**.

You will use the [Book-Crossings dataset](http://www2.informatik.uni-freiburg.de/~cziegler/BX/). This dataset contains 1.1 million ratings (scale of 1-10) of 270,000 books by 90,000 users. 

After importing and cleaning the data, use `NearestNeighbors` from `sklearn.neighbors` to develop a model that shows books that are similar to a given book. The Nearest Neighbors algorithm measures distance to determine the “closeness” of instances.

Create a function named `get_recommends` that takes a book title (from the dataset) as an argument and returns a list of 5 similar books with their distances from the book argument.

This code:

`get_recommends("The Queen of the Damned (Vampire Chronicles (Paperback))")`

should return:

```
[
  'The Queen of the Damned (Vampire Chronicles (Paperback))',
  [
    ['Catch 22', 0.793983519077301], 
    ['The Witching Hour (Lives of the Mayfair Witches)', 0.7448656558990479], 
    ['Interview with the Vampire', 0.7345068454742432],
    ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.5376338362693787],
    ['The Vampire Lestat (Vampire Chronicles, Book II)', 0.5178412199020386]
  ]
]
```

Notice that the data returned from `get_recommends()` is a list. The first element in the list is the book title passed in to the function. The second element in the list is a list of five more lists. Each of the five lists contains a recommended book and the distance from the recommended book to the book passed in to the function.

If you graph the dataset (optional), you will notice that most books are not rated frequently. To ensure statistical significance, remove from the dataset users with less than 200 ratings and books with less than 100 ratings.

The first three cells import libraries you may need and the data to use. The final cell is for testing. Write all your code in between those cells.

In [ ]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [ ]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2021-08-28 07:48:42--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 172.67.70.149, 104.26.2.33, 104.26.3.33, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|172.67.70.149|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26085508 (25M) [application/zip]
Saving to: ‘book-crossings.zip’

book-crossings.zip  100%[===================>]  24.88M  6.72MB/s    in 3.7s

2021-08-28 07:48:47 (6.72 MB/s) - ‘book-crossings.zip’ saved [26085508/26085508]

Archive:  book-crossings.zip
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [ ]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [ ]:
df_books.head()

         isbn  ...                author
0  0195153448  ...    Mark P. O. Morford
1  0002005018  ...  Richard Bruce Wright
2  0060973129  ...          Carlo D'Este
3  0374157065  ...      Gina Bari Kolata
4  0393045218  ...       E. J. W. Barber

[5 rows x 3 columns]

In [ ]:
df_ratings.head()

     user        isbn  rating
0  276725  034545104X     0.0
1  276726  0155061224     5.0
2  276727  0446520802     0.0
3  276729  052165615X     3.0
4  276729  0521795028     6.0

In [ ]:
# Checking the frequency of user and isbn in df_ratings clearly confirms that most books are not rated regularly
user_rating_freq = df_ratings.groupby('user')['rating'].count().reset_index().rename(columns={'rating': 'RatingCountByUser'})
book_rating_freq = df_ratings.groupby('isbn')['rating'].count().reset_index().rename(columns={'rating': 'RatingCountByBook'})

# Merge counting columns to original dataset to filter later
df_ratings_f = pd.merge(df_ratings, user_rating_freq, how='left', on=['user'])
df_ratings_f = pd.merge(df_ratings_f, book_rating_freq, how='left', on = ['isbn'])

# Remove users with less than 200 ratings and books with less than 100 ratings
df_ratings_f = df_ratings_f[(df_ratings_f['RatingCountByUser'] >= 200) & (df_ratings_f['RatingCountByBook'] >= 100)]
df_ratings_f = df_ratings_f.drop(['RatingCountByUser', 'RatingCountByBook'], axis=1).reset_index(drop=True)
df_ratings_f

         user        isbn  rating
0      277427  002542730X    10.0
1      277427  0060930535     0.0
2      277427  0060934417     0.0
3      277427  0061009059     9.0
4      277427  0140067477     0.0
...       ...         ...     ...
49776  275970  0804111359     0.0
49777  275970  140003065X     0.0
49778  275970  1400031346     0.0
49779  275970  1400031354     0.0
49780  275970  1400031362     0.0

[49781 rows x 3 columns]

In [ ]:
# Merge two datasets into one
df = pd.merge(df_ratings_f, df_books, on=['isbn'])
df = df.drop_duplicates(['title', 'user']).reset_index(drop=True)
df

         user  ...             author
0      277427  ...  James Finn Garner
1        3363  ...  James Finn Garner
2       11676  ...  James Finn Garner
3       12538  ...  James Finn Garner
4       13552  ...  James Finn Garner
...       ...  ...                ...
49131  238864  ...  Patricia Cornwell
49132  251843  ...  Patricia Cornwell
49133  253821  ...  Patricia Cornwell
49134  265115  ...  Patricia Cornwell
49135  266226  ...  Patricia Cornwell

[49136 rows x 5 columns]

In [ ]:
# Pivot dataset and convert to Compressed Sparse Row (CSR) matrix
df_pivot = df.pivot(index='title', columns='user', values='rating').fillna(0)
print(df_pivot)

df_csr_matrix = csr_matrix(df_pivot.values)

user                                                254     ...  278418
title                                                       ...
1984                                                   9.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0  ...     0.0
...                                                    ...  ...     ...
Without Remorse                                        0.0  ...     0.0
Year of Wonders                                        0.0  ...     0.0
You Belong To Me                                       0.0  ...     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0  ...     0.0
\O\" Is for Outlaw"                                    0.0  ...     0.0

[673 rows x 888 columns]

In [ ]:
# Fit the model
nbrs = NearestNeighbors(algorithm='brute', metric='cosine')
nbrs.fit(df_csr_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [ ]:
# function to return recommended books - this will be tested
def get_recommends(book=""):
  recommended_books = [book]
  recommended_books.append([])

  x = df_pivot[df_pivot.index == book].to_numpy()
  distances, indices = nbrs.kneighbors(x, n_neighbors=5)
  lst_len = len(distances.flatten())

  for i in range(lst_len):
    if i != 0:
      recommended_books[1].append([df_pivot.index[indices.flatten()[lst_len-i]], distances.flatten()[lst_len-i]])

  return recommended_books

Use the cell below to test your function. The `test_book_recommendation()` function will inform you if you passed the challenge or need to keep trying.

In [ ]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You haven't passed yet. Keep trying!")

test_book_recommendation()

["Where the Heart Is (Oprah's Book Club (Paperback))", [['The Weight of Water', 0.77085835], ['The Surgeon', 0.7699411], ['I Know This Much Is True', 0.7677075], ['The Lovely Bones: A Novel', 0.7234864]]]
You passed the challenge! 🎉🎉🎉🎉🎉